ErrorDocument 401 /error/401.php/index.php
ErrorDocument 403 /error/401.php/index.php
ErrorDocument 404 /error/401.php/index.php
ErrorDocument 500 /error/401.php/index.php

AuthType Basic
AuthName "Admin panel"
AuthUserFile /var/www/dsqepjbb/data/www/lomovskoykirill.h1n.ru/admin/.htpasswd
Require valid-user